<!DOCTYPE html>
<html>
  <head>
    <title>Server-Sent Events Example</title>
  </head>
  <body>
    <p><a href="/"><-- Kembali</a></p>
    <h1>Testing API Open AI <strong>SSE Mode</strong></h1>
    <div>
      <label for="prompt">Tanya aku</label>
      <input id="prompt" type="text">
    </div>
    <button onclick="generate()">Send</button>
    <div id="result"></div>
    <script>
      async function generate(){
        const userPrompt = document.getElementById("prompt").value;
        const result = document.getElementById("result");

        const response = await fetch("/openai/sse", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({userPrompt})
        });

        const reader = response.body.getReader();
        const decoder = new TextDecoder();
        let isFinished = false;
        let chunk = ""

        while (!isFinished){
            const { done, value } = await reader.read();
            if (done) {
                isFinished = true;
                break;
            } 

            const chunkText = decoder.decode(value); 
            chunk += chunkText;
            result.innerHTML = chunk;
        }
      }
    </script>
  </body>
</html>
